/* Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,600;0,900;1,300;1,400;1,600;1,900&display=swap');





:root {
  --font-size-html: 62.5%;
  --font-size-body: 1.6rem;
  --font-size-header: clamp(2rem, 3vw + 0.1rem, 3rem);
  --font-size-title-page: clamp(2rem, 2.5vw + 0.1rem, 3rem);
  --color-title-page: #000000;
  --color-header: #FFFFFF;
  --color-card: rgb(0, 0, 0);
  --color-card-hover: #FFFFFF;
  --color-card-resultado: #000000;
  --color-card-button: #FFFFFF;
  --background-color-btn-banner: linear-gradient(225deg,#FFAF00 0%,#FE4D1B 48.15%,#E70154 100%);
  --background-color-btn-projetos: linear-gradient(29.83deg,#1F95FD 0%,#4FE8E4 100%);
  --background-color-projetos: linear-gradient(29.83deg,#e20913 0%,#790c00 100%);/*#8E0E00*/
  --background-color-gray: #f9fbfc;
  --background-color-card: #f9fbfc;
  --box-shadow-card: 5px 5px 15px 1px #C0C5CE;
  --box-shadow-card-hover: 0 0 10px #e20913;
  --border-radius: 0.8rem;
  --padding-sessao-header: 4rem 1rem 1rem 1rem;

  --bg-dark1: #252836;
  --bg-dark2: #1F1D2B;
  --bg-home-orange: #EB966A1A; /*Opacidade de 26% = 1A*/

  --color-primary-orange: #EA7C69;

  --font-size-menu: 14px;

  --radius-nav-externo: 12px 0px 0px 12px;
  --radius-nav-externo-mob: 0px 0px 12px 12px;
  --radius-nav-interno: 8px;
  --radius-nav-sidebar: 12px;
  --radius-search: 8px;

  --text-primary: 'Barlow', sans-serif;
  

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

html {
  font-size: var(--font-size-html);
}

body {
  font-family: var(--text-primary);
  background-color: black;
  font-size: var(--font-size-body);
  font-family: var(--text-primary);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template: "nav     header    payment"      146px
                 "nav     main      payment"      auto
                / 104px     1fr       30%;    
}


/* Início do NAVBAR */
nav {
  background-color: var(--bg-dark2);
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 24px 0;
  gap: 1rem;
}

.nav__sidebar {
  width: 56px;
  height: 56px;
  border-radius: var(--radius-nav-sidebar);
  background-color: var(--bg-home-orange);
  margin: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__externo {
  width: 92px;
  height: 80px;
  border-radius: var(--radius-nav-externo);
  background-color: var(--bg-dark2);
  padding-left: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav__externo-active {
  background-color: var(--bg-dark1);
}

.nav__externo-logout {
  margin-top: 36px; /*Foi colocado 36px, porque o space-between na tela cheia parece simular um gap de mais ou menos 22px e o figma pede uma margim de 58px*/
}

.nav__interno {
  width: 56px;
  height: 56px;
  border-radius: var(--radius-nav-interno);
  background-color: var(--bg-dark2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__interno-active {
  background-color: var(--color-primary-orange);
}

.icon {
  width: 20px;
}

.icon-sidebar {
  width: 33.33px;
}


/* HOVER do NAVBAR */
.nav__externo:hover {
  background-color: var(--bg-dark1);
}

.nav__externo:hover .nav__interno {
  background-color: var(--color-primary-orange);
  filter: drop-shadow(0px 8px 24px var(--color-primary-orange));
}

.nav__externo:hover .icon {
  filter: sepia(1); /* Apenas foi colocado para simular uma cor quase branca, para não precisar gerar código de mudança no src da imagem pelo javascript */
}

/* Fim do NAVBAR */



/* Início do header */
header {
  background-color: var(--bg-dark1);
  grid-area: header;
  padding: 24px 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__resto {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header__resto__name {
  font-size: 28px;
  font-weight: 600;
}

.header__resto__date {
  font-size: 16px;
  font-weight: 400;
}

.header__search {
  width: 220px;
  height: 48px;
  background-color: #2D303E;
  border: 1px solid #393C49;
  border-radius: var(--radius-search);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.header__search__input {
  background-color: #2D303E;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.header__menu {
  width: 100%;
  height: 33px;
  border-bottom: 1px solid #393C49;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.header__ul {
  height: 100%;
  text-transform: capitalize;
  list-style: none;
  display: flex;
  gap: 32px;
}

.header__a {
  color: white;
  font-size: var(--font-size-menu);
  font-weight: 600;
}

.header__a:hover {
  color: var(--color-primary-orange);
}

.header__a-active {
  color: var(--color-primary-orange);
}

/* Fim do header */

main {
  background-color:var(--bg-dark1);
  grid-area: main;
}

.section__payment {
  background-color: pink;
  display: none;
  width: 30%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 70%;
}

.section__payment.active {
  display: block;
}

.section__confirmation {
  background-color:chartreuse;
  grid-area: payment;
}

.section__confirmation.active {
  display: block;
  width: 30%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 40%;
}

#btn-payment {
  cursor: pointer;
}

#btn-confirmation {
  display: none;
}



@media screen and (max-width:600px) {
  body {
    grid-template: "header"    146px
                   "main"      auto
                   "nav"       50px
                  / 1fr;    
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 12px;
    gap: 0.5rem;
  }

  .nav__home {
    width: 30px;
    height: 30px;
    margin: 8px 0;
  }

  .nav__externo {
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: var(--radius-nav-externo-mob);
  }

  .nav__externo-logout {
    margin-top: 0;
  }

  .nav__interno {
    width: 30px;
    height: 30px;
  }
  
  .icon {
    width: 12px;
  }

  .icon-sidebar {
    width: 16px;
  }

  .section__confirmation {
    display: none;
  }

  .section__confirmation.active {
    display: block;
    width: 70%;
    height: calc(100vh - 50px);
    position: absolute;
    top: 0;
    left: 30%;
  }

  #btn-payment {
    display: none;
  }

  #btn-confirmation {
    display: inline;
    cursor: pointer;
  }
}


@media screen and (max-width:400px) {
  body {
    grid-template: "header"    146px
                   "main"      auto
                   "nav"       40px
                  / 1fr;    
  }

  nav {
    padding: 0 12px;
    gap: 0.3rem;
  }

  .nav__home {
    width: 26px;
    height: 26px;
    margin: 7px 0;
  }

  .nav__externo {
    width: 38px;
    height: 38px;
  }

  .nav__externo-logout {
    margin-top: 0;
  }

  .nav__interno {
    width: 26px;
    height: 26px;
  }
  
  .icon {
    width: 12px;
  }

  .icon-sidebar {
    width: 10px;
  }

  .section__confirmation {
    display: none;
  }

  .section__confirmation.active {
    display: block;
    width: 70%;
    height: calc(100vh - 50px);
    position: absolute;
    top: 0;
    left: 30%;
  }
}
